header {
    font-family: "Red Hat Mono";
    padding: 0% 2%;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    color: #343434;
    margin: 1px;
    display: flex;
    justify-content: space-between;
}

#HeroSection {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 13%;
}
h1 {
    font-family: "Red Hat Mono";
    font-size: 70px;
    font-weight: 400;
    word-wrap: break-word;
    color: #343434;
    text-align: center;
    margin: 0%;
    margin-top: -5%;
}

#TextBackground {
    width: 623px;
    height: 57px;
    background-color: #EE7979;
    margin-left: 25%;
    position: relative;
    top: -95px;
    z-index: -1;
}

 p1 {
    font-family: "Red Hat Mono";
    font-size: 26px;
    font-weight: 400;
    width: auto;
    margin: 0% 1%;
    padding: 0%;
    color: #343434;
    text-align: center;
}

hr {
    width: 50%;
    border: none;
    height: 2px;
    background: white;
    margin-top: 4%;
    margin-bottom: 4%;
}

body {
    background-color: #F1F1F1;
}


h2 {
    font-family: "Red Hat Mono";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4%;
}

#PageContent {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

#TextBackground2 {
    width: 223px;
    height: 23px;
    background-color: #EE7979;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: -4%;
}

#placeholder {
    background: #D9D9D9;
    width: 880px;
    height: 587px;
    margin-left: auto;
    margin-right: auto;
}

#CaseDescription {
    font-family: "Red Hat Mono";
    font-size: 26px;
    font-weight: 400;
    color: #343434;
    text-align: center;
    padding: 3% 10% 2% 10%;
}

.button-container {
    position: relative;
    display: inline-block;
    margin: 0% 44% 4%;
    text-align: center;
}

.see-more-button {
    background-color: transparent;
    color: rgb(54, 54, 54);
    border: none;
    padding: 0px;
    font-size: 26px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease 0s;
}

.overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 0;
    height: 63%;
    background-color: #EE7979;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
}

.button-container:hover .overlay {
    width: 100%;
    left: 0;
}

button {
    font-family: "Red Hat Mono";
    font-size: 26px;
    width: 125px;
    height: 35px;
}

footer {
    background-color: #D9D9D9;
    margin: none;
}

ul {
    list-style-type: none;
    margin: none;
    padding: none;
}

li {
    display: inline-block;
    font-family: "Red Hat Mono";
}

.media-links {
    display: inline-block;
    margin-left: 40%;
    height: 10px;
    width: 10px;
}