header {
    display: flex;
    justify-content: space-between;
    height: 73px;
    margin-bottom: 80px;
}

.HeroSection {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 68px;
}

h1 {
    font-family: "Red Hat Mono";
    font-size: 70px;
    font-weight: 400;
    word-wrap: break-word;
    color: #343434;
    text-align: center;
    margin: 0%;
    margin-top: -5%;
}

#TextBackground {
    width: 623px;
    height: 57px;
    top: 165px;
    background-color: #EE7979;
    z-index: -1;
    position: absolute;
}

.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p1 {
    font-family: "Red Hat Mono";
    font-size: 26px;
    font-weight: 400;
    width: 830px;
    margin: auto;
    padding: 0%;
    color: #828282;
    text-align: center;
}

hr {
    width: 880px;
    border: none;
    height: 2px;
    background: white;
}

body {
    background-color: #F1F1F1;
    margin: 0;
}

.sectionTitle2 {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Red Hat Mono";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4%;
}

#PageContent {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

#TextBackground2 {
    width: 223px;
    height: 23px;
    top: 468px;
    background-color: #EE7979;
    z-index: -1;
    position: absolute;
}

.caseStudy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#placeholder {
    background: #D9D9D9;
    width: 880px;
    height: 587px;
    margin: auto;
    margin-bottom: 16px;
}

#CaseDescription {
    font-family: "Red Hat Mono";
    font-size: 26px;
    font-weight: 400;
    color: #343434;
    text-align: center;
    width: 880px;
    margin:auto;
}

.button-container {
    position: relative;
    display: inline-block;
    margin: 0% 44% 4%;
    text-align: center;
}

.see-more-button {
    background-color: transparent;
    color: rgb(54, 54, 54);
    border: none;
    padding: 0px;
    font-size: 26px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease 0s;
}

.overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 0;
    height: 63%;
    background-color: #EE7979;
    z-index: -1;
    transition: width 0.3s ease, left 0.3s ease;
}

.button-container:hover .overlay {
    width: 100%;
    left: 0;
}

button {
    font-family: "Red Hat Mono";
    font-size: 26px;
    width: 125px;
    height: 35px;
}

footer {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.subheadings h3 {
    font-family: "Red Hat Mono";
    font-weight: 400;
    padding: 0 51px;
    color: #565656;
    display: inline-block
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 66px 0;

}

.social-media-icons svg {
    width: 24px;
    height: 24px;
    margin: 0 51px;
}

/* styling for JQuery function on 'Quinn Blanchfield'*/

#toggle {
    width: 256px;
    padding: 10px;
    font-family: "Red Hat Mono";
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    align-self: center;
    text-align:center;
}

#about {
    width: 256px;
    padding: 10px 39px 10px 10px;
    font-family: "Red Hat Mono";
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    text-align: right;
    align-self: center;
}

#dropdown {
    position: absolute;
    top: 72px;
    width: 276px;
    display:none;
}

img {
    width: 100%;
}

#name {
    font-family: "Red Hat Mono";
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 365px;
    margin-left: 20px;
}

#bodyText {
    font-family: "Red Hat Mono";
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 400px;
    margin: 0px 20px;
    text-align: justify;
}